@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  @apply w-full h-full;
}

#domo {
  @apply grid h-full w-full;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto 1fr auto;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
